section {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-column-gap: 15px;

    + section {
        margin-top: 15px;
    }
}

h1 {
    margin-bottom: 35px;
}

.rune-icon:last-of-type {
    width: 40px;
    height: 40px;
    font-size: 40px;
}
