<rune-scroll-layout>
    <rune-header>
        <aside rune-header-left>RuneJS</aside>

        <aside rune-header-right>
            <nav>
                <a href="">Home</a>
                <a href="">Docs</a>
                <a href="">Discord</a>
            </nav>
        </aside>
    </rune-header>

    <main rune-body>
        <h1>Scroll Header</h1>

        <button rune-button color="accent">Sign up now</button>
        <button rune-button color="primary" variant="raised">Existing user</button>
        <button rune-button>Play for free</button>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>This leads to <a href="">a scroll link</a>.</p>

        <br />

        <table rune-table>
            <thead>
                <tr>
                    <td>Rank</td>
                    <td>Name</td>
                    <td>Level</td>
                    <td>XP</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                </tr>
                <tr>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                </tr>
                <tr>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                </tr>
                <tr>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                </tr>
            </tbody>
        </table>

        <br /><br />

        <rune-panel>
            <div rune-panel-header>
                Panel Title
            </div>

            <div rune-panel-body>
                Hello
                <br /><br /><br /><br /><br /><br />
                World
            </div>
        </rune-panel>

        <br /><br />

        <rune-panel>
            <div rune-panel-body>
                Hello World
            </div>
        </rune-panel>

        <br /><br />
    </main>

    <rune-footer>
        <aside>@runejs/runite</aside>

        <aside>
            <a href="https://github.com/rune-js">RuneJS Github</a>
        </aside>
    </rune-footer>
</rune-scroll-layout>
