section {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-column-gap: 15px;

    + section {
        margin-top: 15px;
    }
}

h1 {
    margin-bottom: 35px;
}

.create {
    padding: 32px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

