<rune-scroll-layout>
    <rune-header>
        <aside rune-header-left>RuneJS</aside>

        <aside rune-header-right>
            <nav>
                <a href="">Home</a>
                <a href="">Docs</a>
                <a href="">Discord</a>
            </nav>
        </aside>
    </rune-header>

    <main rune-body>

        <div class="create">
            <h1>Create an Account</h1>

            <section>
                <rune-field>
                    <label for="username">Player Name</label>
                    <rune-icon rune-prefix>person</rune-icon>
                    <input id="username" name="username" type="text"
                           placeholder="Choose a name..." autocomplete="off" />
                </rune-field>

                <rune-field>
                    <label for="password">Password</label>
                    <rune-icon rune-suffix size="18px">lock</rune-icon>
                    <input id="password" name="password" type="password"
                           placeholder="Choose a password..." autocomplete="off" />
                </rune-field>
            </section>

            <section>
                <rune-field>
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" autocomplete="off" />
                </rune-field>

                <rune-field>
                    <label for="dob">Date of birth</label>
                    <input id="dob" name="dob" type="text"
                           placeholder="DD/MM/YYYY" autocomplete="off" />
                </rune-field>
            </section>

            <br /><br />

            <section>
                <button rune-button>Back</button>
                <button rune-button color="primary">Create Account</button>
            </section>
        </div>

        <br /><br />

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>This leads to <a href="">a scroll link</a>.</p>

        <br />

        <table rune-table>
            <thead>
                <tr>
                    <td>Rank</td>
                    <td>Name</td>
                    <td>Level</td>
                    <td>XP</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                </tr>
                <tr>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                </tr>
                <tr>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                </tr>
                <tr>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                    <td>Hello World</td>
                </tr>
            </tbody>
        </table>

        <br /><br />

        <rune-panel>
            <div rune-panel-header>Panel Header</div>
            <div rune-panel-body>
                <rune-icon color="primary" raised size="32px">home</rune-icon>
                <rune-icon color="accent" [raised]="false">home</rune-icon>
                <rune-icon color="default" [raised]="true">home</rune-icon>
                <rune-icon color="soft">home</rune-icon>
                <rune-icon color="inherit">home</rune-icon>
                <rune-icon class="style-test">home</rune-icon>
                <br /><br />
                Panel with header
            </div>
        </rune-panel>

        <br /><br />

        <rune-panel>
            <div rune-panel-body>
                <rune-icon color="primary" raised size="32px">home</rune-icon>
                <rune-icon color="accent" [raised]="false">home</rune-icon>
                <rune-icon color="default" [raised]="true">home</rune-icon>
                <rune-icon color="soft">home</rune-icon>
                <rune-icon color="inherit">home</rune-icon>
                <rune-icon class="style-test">home</rune-icon>
                <br /><br />
                Panel without header
            </div>
        </rune-panel>

        <br /><br />
    </main>

    <rune-footer>
        <aside>@runejs/runite</aside>

        <aside>
            <a href="https://github.com/rune-js">RuneJS Github</a>
        </aside>
    </rune-footer>
</rune-scroll-layout>
