@import 'projects/runite/styles';
@import 'projects/runite/src/lib/palette';

@font-face {
    font-family: 'Kingthings Petrock';
    src: url('assets/kingthings-petrock.regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kingthings Petrock Light';
    src: url('assets/kingthings-petrock.light.ttf') format('truetype');
}

@font-face {
    font-family: 'Trajan';
    src: url('assets/Trajan-Extra Light.otf') format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Trajan';
    src: url('assets/Trajan-Light.otf') format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Trajan';
    src: url('assets/Trajan-Regular.otf') format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Trajan';
    src: url('assets/Trajan-Semibold.otf') format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Trajan';
    src: url('assets/Trajan-Bold.otf') format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Trajan';
    src: url('assets/Trajan-Black.otf') format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 900;
}

$theme: rune-theme((
    body-font: ('Poppins', sans-serif),
    body-font-size: 16px,
    header-font: ('Kingthings Petrock', Times, serif),
    title-font: ('Trajan', serif),
    label-font: ('Trajan', serif),
    primary-color: $olive-drab,
    primary-color-darker: $deep-emerald,
    accent-color: $fiery-orange,
    accent-color-darker: $morocco-brown,
    default-color: $fiord,
    default-color-darker: $nero
));

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    @include runite-body($theme);
}

@include runite-core($theme);
